@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

.pointer {
  cursor: pointer;
}
.links {
  color: #212121;
}

.links:hover,
.links:focus {
  color: #2196f3;
}
.adress {
  color: #757575;
}
.adress:hover,
.adress:focus {
  color: #2196f3;
}
